<body style="background-color: bisque;">
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color:grey;">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Account</a>
                    </li>

                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link active dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle >
                            Customer Profile
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                            <li ngbDropdownItem><a class="dropdown-item" href="customer-profile">Profile</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" href="customer-documents">Documents</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown" ngbDropdown>
                        <a class="nav-link active dropdown-toggle" id="navbarScrollingDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false" ngbDropdownToggle>
                            Insurance Plans
                        </a>
                        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="navbarScrollingDropdown">
                            <a ngDropDownItem *ngFor="let insuranceType of insuranceTypes" class="dropdown-item"
              href="/insurance-plan/{{insuranceType.id}}">{{insuranceType.name}}</a>
                            <!-- <li ngbDropdownItem><a class="dropdown-item" href="#">Protection Plans</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" routerLink="/child-plan">Child Plans</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" href="#">Saving Plans</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" href="#">Growth Plans</a></li>
                            <li ngbDropdownItem><a class="dropdown-item" href="#">Group Plans</a></li> -->
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="view-insurance-account-detail">Insurance Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" routerLink="/customerQueries">Queries</a>
                    </li>
                    <li class="nav- " style="margin-left: 100%;">
                        <button class="btn btn-danger" type="submit" (click)="logout()">Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div style="text-align: center;">
        <h1 style="margin-top:20px ; color:black;">Welcome</h1>
        <h3 style="color: black;">{{username}}</h3>

        <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/customer-profile">
                <img class="card-img-top" src="assets/profile.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Profile</h5>
                </div>
            </a>
        </div>

        <div class="card" style="width: 18em; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/admin-login">
                <img class="card-img-top" src="assets/document.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Documents</h5>
                </div>
            </a>
        </div>


        <div class="card" style="width: 18rem; margin: 10px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/admin-login">
                <img class="card-img-top" src="assets/insuranceAccount.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Insurance Account</h5>
                </div>
            </a>
        </div>
        <br>
        <div class="card" style="width: 20rem; margin: 20px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/admin-login">
                <img class="card-img-top" src="assets/queryfeedback.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Queries & Feedback</h5>
                </div>
            </a>
        </div>

        <div class="card" style="width: 20rem; margin: 20px; display: inline-block;">
            <a class="card-block stretched-link text-decoration-none" routerLink="/customer-feedback">
                <img class="card-img-top" src="assets/feedback.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Feedback</h5>
                </div>
            </a>
        </div>

    </div>
    <br><br><br><br><br><br><br><br><br>
</body>

    
        