<div>
  <h2 class="text-center">{{title}}</h2>
  <p class="text-center">Kindly enter the credentials</p>
</div>
<div class="container">
  <form [formGroup]="exform">
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td scope="col"><strong>Employee Name:</strong></td>
          <td scope="col"><input formControlName="name" type="text" name="name" class="form-control"><small
              *ngIf="exform.get('name').invalid && exform.get('name').touched" class="text-danger">Name is
              required</small></td>
        </tr>
        <tr>
          <td scope="col"><strong>Password:</strong></td>
          <td><input formControlName="password" type="password" class="form-control" name="password" value="" />
            <small *ngIf="exform.get('password').invalid && exform.get('password').touched" class="text-danger">Password is required</small>
          </td>
        </tr>
        <tr>
          <td scope="col"><strong>Confirm Password:</strong></td>
          <td><input type="password" class="form-control" name="confirmPassword" value="" /></td>
        </tr>
        <tr>
          <td colspan="2"><button [disabled]="exform.invalid" (click)="addEmployeeData()" type="submit"
              class="btn btn-primary">Submit</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>