<br><br><br>
<body>
    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Insurance Type</th>
                        <th>Agent Commission</th>
                        <th>Insurance Scheme and Note</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td ><img src="https://st2.depositphotos.com/1037987/5987/i/450/depositphotos_59876915-stock-photo-happy-family-in-garden.jpg"
                            class="card-img-top"alt="Card image cap"></td>
                        <td >Protection Plans</td>
                        <td ><h5>Commission for New Registration: 15.00%</h5><br><br>
                        <h5>Commission for installment Payment:7.00%</h5></td>
                        <td ></td>
                        <td ></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

