<div>
    <h2 class="text-center">{{title}}</h2>
  </div>
  <div class="container">
    <form  #userFrom="ngForm"  (ngSubmit)="onSubmit(userFrom.value)">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>Insurance Type:</strong></td>
            <td scope="col"><input type="text" name="id" class="form-control" [(ngModel)]="id"></td>
          </tr>
          <tr>
            <td scope="col"><strong>Insurance Scheme:</strong></td>
            <td><input type="text" name="insuranceScheme" class="form-control"
                 max="2004-06-11" value="" /></td>
          </tr>

          <tr>
            <td scope="col"><strong>Policy Term</strong></td>
            <td><input type="text" class="form-control"
                 name="policyTerm" value=""  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Minimum</strong></td>
            <td><input type="text" class="form-control" name="minimumTerm"
                 value=""   /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Maximum</strong></td>
            <td><input type="text" class="form-control" name="maximumTerm"
                 value=""   /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Age</strong></td>
            <td><input type="text" class="form-control" name="age"
                 value=""  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Minimum</strong></td>
            <td><input type="text" class="form-control" name="minimumAge"
                 value=""  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Maximum</strong></td>
            <td><input type="text" class="form-control" name="maximumTerm"
                 value=""  /></td>
          </tr>

          <tr>
            <td scope="col"><strong>Total investment Amount</strong></td>
            <td><input type="text" class="form-control" name="age"
                 value=""  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Minimum</strong></td>
            <td><input type="text" class="form-control" name="minimumInvestment"
                 value=""   /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Maximum</strong></td>
            <td><input type="text" class="form-control" name="maximumInvestment"
                 value=""  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Profit Ratio:</strong></td>
            <td><input type="text" class="form-control" name="profitRatio"
                 value=""  /></td>
          </tr>

       
          <tr>
            <td colspan="2" style="text-align: center;"><button type="submit" class="btn btn-danger">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
 <h1>{{id}}</h1>
