<div>
    <h2 class="text-center">{{title}}</h2>
  </div>
  <div class="container">
    <form  #userFrom="ngForm"  (ngSubmit)="onSubmit(userFrom.value)">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>Insurance Type:</strong></td>
            <td scope="col"><input type="text" name="id" class="form-control" [(ngModel)]="id"></td>
          </tr>
          <tr>
            <td scope="col"><strong>Name</strong></td>
            <td><input type="text" name="name" class="form-control"
                 max="2004-06-11" value="" ngModel/></td>
          </tr>
          <tr>
            <td scope="col"><strong>New Registration scheme</strong></td>
            <td><input type="text" name="description" class="form-control"
                 max="2004-06-11" value="" ngModel/></td>
          </tr>
          <tr>
            <td scope="col"><strong>New Registration Commission</strong></td>
            <td><input type="text" class="form-control" name="newRegistrationCommission"
                 value="" ngModel /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Installment Payment Commission</strong></td>
            <td><input type="text" class="form-control" name="installmentPaymentCommission"
                 value="" ngModel  /></td>
          </tr>
    

    
          <tr>
            <td scope="col"><strong>Policy Term Minimum</strong></td>
            <td><input type="text" class="form-control" name="policyTermMin"
                 value="" ngModel  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Policy Term Maximum</strong></td>
            <td><input type="text" class="form-control" name= "policyTermMax"
                 value=""  ngModel /></td>
          </tr>
     
          <tr>
            <td scope="col"><strong>Age Minimum</strong></td>
            <td><input type="text" class="form-control" name="minAge"
                 value="" ngModel  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Age Maximum</strong></td>
            <td><input type="text" class="form-control" name="maxAge"
                 value=""  ngModel/></td>
          </tr>

     
          <tr>
            <td scope="col"><strong>Minimum Total investment Amount</strong></td>
            <td><input type="text" class="form-control" name="sumAssuredMin"
                 value=""  ngModel /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Maximum Total investment Amount</strong></td>
            <td><input type="text" class="form-control" name="sumAssuredMax"
                 value="" ngModel /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Profit Ratio</strong></td>
            <td><input type="text" class="form-control" name="profitRatio"
                 value="" ngModel /></td>
          </tr>
  

       
          <tr>
            <td colspan="2" style="text-align: center;"><button type="submit" class="btn btn-danger">Submit</button></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>

