<div>
    <h2 class="text-center">{{title}}</h2>
  </div>
  <div class="container">
    <form>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>Date:</strong></td>
            <td scope="col"><input type="text" name="custname" class="form-control"></td>
          </tr>
          <tr>
            <td scope="col"><strong>Installment Amount:</strong></td>
            <td><input type="text" name="dob" class="form-control" max="2004-06-11" value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Text Amount :</strong></td>
            <td><input type="text" name="loginid" class="form-control" value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Total Amount:</strong></td>
            <td><input type="password" class="form-control" name="password" value=""  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Payment Type:</strong></td>
            <td><select name="payment_type" class="form-control">
                <option value="">Select payment type</option>
                <option value='credit-card'>Credit Card</option>
                <option value='debit-card'>Debit Card</option>
                <option value='visa'>VISA</option>
                <option value='master-card'>Master Card</option>
              </select></td>
          </tr>
          <tr>
            <td scope="col"><strong>Card Holder:</strong></td>
            <td><input type="password" class="form-control" name="cnfpassword" value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Card Number:</strong></td>
            <td><input type="email" class="form-control" name="email"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>CVV Number:</strong></td>
            <td><input type="email" class="form-control" name="email"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Expire Date:</strong></td>
            <td><input type="date" class="form-control" name="email"/></td>
          </tr>
          <tr>
            <td colspan="2"><div align="center"><a routerLink="/payment-slip" class="btn btn-danger">Submit</a></div></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
