<br><br><br>

<body>
    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Insurance Type</th>
                        <th>Insurance Scheme</th>
                        <th>Policy Term Min</th>
                        <th>Policy Term Max</th>
                        <th>Minimum Age</th>
                        <th>Maximum Age</th>
                        <th>Sum Assured Min</th>
                        <th>Sum Assured Max</th>
                        <th>Profit Ratio</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody *ngFor="let plan of plans">
                    <tr>
                      <td>{{ plan.id }}</td>
                      <td>{{ plan.name }}</td>
                      <td>{{ plan.policyTermMin}}</td>
                      <td>{{ plan.policyTermMax}}</td>
                      <td>{{ plan.minAge}}</td>
                      <td>{{ plan.maxAge}}</td>
                      <td>{{ plan.sumAssuredMin}}</td>
                      <td>{{ plan.sumAssuredMax}}</td>
                      <td>{{ plan.profitRatio}}</td>
                      <td>{{ plan.status}}</td>
                      <td>{{ plan.deleted}}</td>
                  
                    </tr>
                  </tbody>
            </table>
        </form>
    </div>
</body>