<br><br><br>
<body>
    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td [(ngModel)]="insuranceType"></td>
                        <td [(ngModel)]="status"></td>
                        <td><a href="edit">Edit/</a><br><a href="delete">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

