<br><br><br>
<body>
    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Title</th>
                        <th>Message</th>
                        <th>Contact Date</th>
                        <th>Reply</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngFor="let feed of feedbacks" >
                    <tr>
                        <td >{{feed.customerName}}</td>
                        <td >{{feed.title}}</td>
                        <td >{{feed.message}}</td>
                        <td >{{feed.date}}</td>
                        <td >{{feed.reply}}</td>
                        <td ><a href="edit">Edit/</a><br><a href="delete">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>
