<div>
    <h2 class="text-center">{{title}}</h2>
  </div>
<div class="container">
    <form>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td scope="col"><strong>Tax Percentage:</strong></td>
                    <td scope="col"><input type="text" name="agentname" class="form-control"
                         [(ngModel)]="taxPercentage"></td> 
                </tr>
                <tr>
                    <td colspan="2"><button type="submit" class="btn btn-primary">Submit</button></td>
                  </tr>
            </tbody>
        </table>
    </form>
</div>
