<body><br><br>

    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Agent id</th>
                        <th>Agent Name</th>
                        <th>Address</th>
                        <th>Email-id</th>
                        <th>Qualification</th>
                        <th>Status</th>
                        <th>Action</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody *ngFor="let agent of agents">
                    <ng-template [ngIf]="agent.deleted===false">
                    <tr>
                        <td>{{agent.id}}</td>
                        <td>{{agent.name}}</td>
                        <td>{{agent.address}}</td>
                        <td>{{agent.email}}</td>
                        <td>{{agent.qualification}}</td>
                        <td *ngIf="agent.status===true">Active</td>
                        <td *ngIf="agent.status===false">Inactive</td>
                        <td>
                            <div *ngIf="agent.status == true">
                                <div class="form-check form-switch" (click)="deactivateAgent(agent.id)">
                                
                                  <button type="button" class="btn btn-danger">Deactive</button>
                                </div>
                                </div>   
                                <div *ngIf="agent.status == false">
                                <div class="form-check form-switch" (click)="activateAgent(agent.id)">
                                    <button type="button" class="btn btn-primary">Active</button>
                                  </div>
                                </div>
                            </td>
                            <td>     
                                <button type="button"  (click)="deleteAgentById(agent.id)" class="btn btn-danger">Delete</button>
                            </td>
                        </tr>
                           </ng-template>
                </tbody>
            </table>
        </form>
    </div>
</body>

