<div class="container" style="width: 50%; margin-top: 20px;">
    <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2" class="text-center" style="background-color: black; color:aliceblue"><h2>Insurance Policy</h2></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><strong>Customer</strong></td>
            <td><strong>Branch:<br>
                Technopulse,<br>
                3rd floor,<br>
                City light buiklding,<br>
                Mangalore-01</strong></td>
          </tr>
          <tr>
            <td><strong>Date of Receipt:</strong></td>
            <td><strong>Installment No:</strong></td>
          </tr>
          <tr>
            <td><strong>Policy Number:</strong></td>
            <td><strong>Plane Name:</strong></td>
          </tr>
          <tr>
            <td class="text-center"><strong>Particulars</strong></td>
            <td class="text-center"><strong>Amount</strong></td>
          </tr>
          <tr>
            <td><strong>Payment Method:<br>
                        Payment Date:</strong></td>
            <td></td>
          </tr>
          <tr>
            <td align="right"><strong>Tax:(12.00%)</strong></td>
            <td></td>
          </tr>
          <tr>
            <td align="right"><strong>Total</strong></td>
            <td></td>
          </tr>
          <br>
          <button onclick="window.print()" class="btn btn-danger">Print</button>
        </tbody>
      </table>
</div>