<br><br><br>
<body>
    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Insurance Plan Name</th>
                        <th>Created Date</th>
                        <th>Maturity Date</th>
                        <th>Installment Payment Type</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let policy of data">
                        <td >{{policy.customerName}}</td>
                        <td >{{policy.insurnacePlanName}}</td>
                        <td >{{policy.createdDate}}</td>
                        <td >{{policy.maturityDate}}</td>
                        <td >{{policy.installmentType}}</td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>
</body>

