<div>
  <h2 class="text-center">{{title}}</h2>
  <p class="text-center">Please give Your Feedback...</p>
</div>
<div class="container">
  <form>
    <table class="table table-bordered">
      <tbody>
        <tr>
          <td colspan="2"><strong>Title:</strong>
            <input type="text" class="form-control">
          </td>
        </tr>
        <tr>
          <td colspan="2"><strong>Message:</strong>
            <form method="post">
              <textarea id="mytextarea"></textarea>
            </form>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <div align="center"><input type="submir" name="feedback" class="btn btn-danger" value="Post Feedback" />
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </form>
</div>