<div>
    <h2 class="text-center">{{title}}</h2>
    <p class="text-center">Kindly confirm before making payment..</p>
  </div>
  <div class="container">
    <form>
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>Insurance Type:</strong></td>
            <td scope="col"><input type="text" name="insurance-type" class="form-control"></td>
          </tr>
          <tr>
            <td scope="col"><strong>Insurance scheme.:</strong></td>
            <td><input type="text" name="inssurance-scheme" class="form-control" max="2004-06-11" value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>No of Years:</strong></td>
            <td><input type="text" name="no-Of-Year" class="form-control" value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Profit Ration: (in %)</strong></td>
            <td><input type="text" class="form-control" name="profite-ratio" value=""  /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Total Investment Amount:</strong></td>
            <td><input type="text" class="form-control" name="total-invest-amt" value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Premium Type:</strong></td>
            <td><input type="text" class="form-control" name="premium-type" value="" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Installment Amount:</strong></td>
            <td><input type="text" class="form-control" name="install-Amt"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Interest Amount:</strong></td>
            <td><input type="text" class="form-control" name="insterest-Amt"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Total Amount:</strong></td>
            <td><input type="text" class="form-control" name="total-Amt"/></td>
          </tr>
          <tr>
            <td scope="col"><strong>Date Created:</strong></td>
            <td><input type="text" class="form-control" name="dateCreated" /></td>
          </tr>
          <tr>
            <td scope="col"><strong>Maturity Date:</strong></td>
            <td><input type="text" class="form-control" name="maturity-date"/></td>
          </tr>
          <tr>
            <td colspan="2"><div align="center"><a routerLink="/policy-payment" class="btn btn-danger">Click Here to Processed</a></div></td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
