<div>
    <h2 class="text-center">{{title}}</h2>
    <p class="text-center">Kindly enter the credentials</p>
  </div>
  <div class="container">
    <form #userForm="ngForm" (ngSubmit)="getData(userForm.value)">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td scope="col"><strong>Insurance Type:</strong></td>

           
            <td scope="col"><input type="text" name="name" ngModel  class="form-control"></td>
          </tr>
              <button type="submit" class="btn btn-primary">Submit</button>
          
        </tbody>
      </table>
    </form>
  </div>
