<body style="background-color: cornsilk;">
    <div class="container text-center" style="margin: 10px;">
        <h2 class="text-center">{{title}}</h2>
        <img class="img-fluid" src="assets/agent.jpg" style="width: 100px;" />
    </div>
    <div class="container">
        <form >
            <table class="table table-bordered">
                <tbody >
                    <tr>
                        <td scope="col"><strong>Name:</strong></td>
                        <td scope="col"><input type="text" name="name" value="{{data.name}}" class="form-control" disabled></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Address:</strong></td>
                        <td><textarea class="form-control" name="address" value="{{data.address}}" disabled></textarea></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Email ID:</strong></td>
                        <td><input type="text" class="form-control" name="email" value="{{data.email}}" disabled></td>
                    </tr>
                    <tr>
                        <td scope="col"><strong>Qualification:</strong></td>
                        <td><input type="text" class="form-control" name="qualification" value="{{data.qualification}}" disabled></td>
                    </tr>
                </tbody>
            </table>
        </form>
    </div>