

<body>
    
    <br><br><br>
    <h2 class="text-center">{{title}}</h2>
    <div class="container">
        <form>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Transaction Id</th>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Discription</th>
                        <th>Type</th>
                       
                    </tr>
                </thead>
                <tbody *ngFor="let transaction of data">
                    <tr>
                        
                        <td>{{transaction.id}}</td>
                        <td>{{transaction.amount}}</td>
                        <td>{{transaction.time}}</td>
                        <td>{{transaction.description}}</td>
                        <td>{{transaction.type}}</td>
                    </tr>
                </tbody>
       
            </table>
        </form>
    </div>
</body>

